#flashPlus-pixastic-controls {
    position: absolute;
    border: SOLID 2px BLACK;
    width: 20%;
    background-color: #FAFAFA;
    padding: 0.5em 0;
    text-align: center;
	z-index : 1000000;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

#flashPlus-pixastic-controls hr {
    clear: both;
}

.flashPlus-pixastic-key {
    float: left;
    width: 35%;
    clear: both;
    margin: 0.3em 2%;
    text-align: left;
}

.flashPlus-pixastic-value {
    float: right;
    width: 55%;
    margin: 0.3em 2%;
}
