.flashPlus-selector {
    display: none;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    position: absolute;
    border: SOLID 1px BLUE;
    box-shadow: 0 0 5px 2px #ABCDEF;
}

.flashPlus-commands {
    display: none;
    position: absolute;
    margin: -1px;
    box-shadow: 0 0 5px 2px #222222;
    z-index: 2147483647;
    background-color: WHITE;
    border-radius: 0 0 10px 10px;
    padding: 0.4em;
    left: 1.5em;
    border: SOLID 2px BLUE;
    font-size: 10px;
    color: black;
}

.flashPlus-commands img {
    width: 24px;
    height: 24px;
    margin: 0 0.1em;
    vertical-align: middle;
    cursor: pointer;
    display: inline;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.flashPlus-commands img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3)
}

.flashPlus-proxy {
    padding: 0;
    margin: 0;
}

.flashPlus_darkener {
    position: absolute;
    background-color: BLACK;
    opacity: 0.9;
    z-index: 2147483646;
}

.flashPlus-pinElement {
    position: fixed !important;
    z-index: 2147483647;
}

.flashPlus-fullscreen-body{
    overflow: hidden !important;
}

.flashPlus-fullscreen {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 1000000000 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background-color: WHITE !important;
}

.flashPlus-moveResize {
    margin: 0;
    opacity: 0.9;
    z-index: 2147483647;
}

.flashPlus-original {
    background-color: #ABCDEF;
    border: none;
}

.flashPlus-message-button {
    width: 100%;
    display: block;
    padding: 0.1em;
    margin: 0.3em 0;
}
